body{
  font-family: 'Nunito', sans-serif;
  background: rgb(32, 23, 49);
  background-image: url("../Clase09/imagenes/ondas.svg");

}
.img-relative {
  position: relative;
}

.img-absolute {
  position: absolute;
  object-position: center;
  width: fit-content;
  top: 50%;
  right: 50%;
}

#ondas {
width: 100%;
}
.container {
  padding-top: 50px;
}
h1{
  font-size: 28px;
  font-weight: 900;
  color:  #22193F;
}
input, .input-email, .input-contrasenia{
  width: 90%;
  height: 50%;
  border-radius: 20px;
  margin: 5px;
}
#mail::placeholder {
  padding: 3% ;
  font-size: 16px;
  font-weight: 600;
  border: #C4C4C4;
  color: blueviolet;  
}
#contrasenia::placeholder{
  padding: 3%;
  font-size: 16px;
  font-weight: 600;
  border: #C4C4C4;
  color: blueviolet;
}

#contenedor-login{
width: 100%;
height: 100%;
background: rgb(255, 255, 255);
}

#boton-ingresar{
  font-size: 16px;
  font-weight: 700;
  color: #C4C4C4;
  background: rgb(245, 0, 82);
  color: white;
  border: 1px rgb(245, 0, 82) ;
  border-radius: 20px;
  
}
i{
  font-size: 16px;
  font-weight: 700;
  color: #6A2A83; 
}
a{
  font-size: 16px;
  font-weight: bold;
  color:  #E21982;
}