body{
  font-family: 'Nunito', sans-serif;
  background-color:  #22193F;
  background-image: url("imagenes/ondas.svg");
  background-repeat: no-repeat;
  height: 70vh;
  
  }
  .col-admin{
    background-image: url("imagenes/img-login.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 70vh;
    width: 50%;
    margin-top: 20vh;
  }
  .col-login{
    height: 70vh;
        width: 50%;
    margin-top: 20vh;
    background-color: #C4C4C4;;
  }
      h1{
        font-size: 28px;
        font-weight: 900;
        color:  #22193F;
      }
      a{
        font-size: 16px;
        font-weight: bold;
        color:  #E21982;
      }
      button{
        font-size: 16px;
        font-weight: 700;
        color: #C4C4C4;
        background-color: #E21982;
        width: 90%;
        border-radius: 20px;
      }
      input{
        font-size: 16px;
        font-weight: 400;
        border: #C4C4C4;
        border-radius: 15px;
        width: 90%;
        height: 30px;
        margin: 5px;
      }
      i{
        font-size: 16px;
        font-weight: 700;
        color: #6A2A83; 
      }
      col-contrasenia{
      border: #C4C4C4;
      border-radius: 15px;
      height: 30px;
      margin: 5px;
      }